<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align">
  
  <%# link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%# link_to 'About GCPD', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%# link_to 'Contact GCPD', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%# link_to 'Privacy Policy', privacy_path %>

  <div id="copy">
    Webmaster: <%= mail_to("tinchil@andrew.cmu.edu", "Tin Chi Lo", encode: "javascript") %> 
    &nbsp;&nbsp;&copy 2024
  </div>

</div>