<h3>Active Units in GCPD</h3>
<table>
  <thead>
    <th>Unit</th>
    <th>Active</th>
  </thead>
  <% if @active_units != nil %>
    <% @active_units.each do |unit| %>
      <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <td><%= link_to unit.name, unit_path(unit) %></td>
        <td><%= unit.active ? "Yes" : "No" %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<p>&nbsp;</p>

<p><strong>
<%= link_to "New Unit", new_unit_path, class: 'waves-effect waves-light btn' %> 
</strong></p>